{% set features = [
  {
    icon: "📦",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc.",
  },
  {
    icon: "📦",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc.",
  },
  {
    icon: "📦",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc.",
  },
  {
    icon: "📦",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc.",
  },
  {
    icon: "📦",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc.",
  },
  {
    icon: "📦",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc.",
  },
] %}

<section class="bg-gradient-to-b from-gray-100 to-white dark:bg-none spacer-py">
  <div class="container">
    <div class="text-center text-balance text-navy dark:text-white">
      <h2 class="h1">What does Cakewalk make?</h2>
      <h3 class="h3 highlighted mt-3">
        Best-in-class websites in a <em>simple</em> price structure.
      </h3>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 mt-12 md:mt-16">
      {% for feature in features %}
        <div class="
          bg-white shadow-xl shadow-gray-200/50 dark:shadow-black/10
          border border-gray-100 dark:border-none
          rounded-lg py-12 px-8
          {{ loop.index % 2 == 0 ? '-rotate-2' : 'rotate-2' }}
          transition-transform duration-300 hover:rotate-0
          flex items-center justify-center
        ">
          <div class="text-center flex flex-col gap-3">
            <span class="text-5xl lg:text-6xl">{{ feature.icon }}</span>
            <p class="text-xl lg:text-2xl text-balance text-gray-500">{{ feature.text }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
