<footer class="py-12">
	<div class="container-md flex items-center justify-between">
		<div class="flex flex-col gap-1">
			<p class="dark:text-white font-bold text-2xl">Cakewalk</p>
			<p class="text-gray-400">© {{ now | date('Y') }}. All rights reserved.</p>
		</div>
		<div class="flex items-center gap-8 text-lg">
			<a class="text-navy dark:text-white font-bold underline" href="/contact">
				Contact
			</a>
		</div>
	</div>
</footer>
