<footer class="bg-gradient-to-b from-gray-100 to-30% to-white  py-12 border-navy">
	<div class="container-md gap-6 flex flex-col md:flex-row items-center justify-center md:justify-between">
		<div class="text-center md:text-left order-last md:order-first">
			<p class=" font-bold text-xl">Cakewalk</p>
			<p class="text-gray-500 ">
				&copy; {{ now | date('Y') }}. All rights reserved.
			</p>
		</div>
		<div class="flex flex-col xs:flex-row items-center gap-5 ">
			<a href="/contact/" class="font-semibold underline hover:no-underline">Contact</a>
		</div>
	</div>
</footer>
