<footer class="bg-gradient-to-b from-gray-100 to-30% to-white dark:bg-none py-12 dark:border-t border-navy">
	<div class="container-md gap-1 flex flex-col sm:flex-row items-center justify-center sm:justify-between">
		<p class="dark:text-white font-bold text-xl">Cakewalk</p>
		<p class="text-gray-500 dark:text-gray-400">
			&copy; {{ now | date('Y') }}. All rights reserved.
		</p>
	</div>
</footer>
