<section class="container-md">

	<div role="presentation" class="mt-16 lg:mt-20"></div>


<div class="flex items-center justify-center mb-10">
		<div class="relative">
			<div class="absolute top-0 left-0 -translate-x-[90%] bg-green rounded-full px-3 py-2 font-bold text-sm text-navy">Matt</div>
			<img height="88" width="88" loading="lazy" src="https://0.gravatar.com/avatar/78b1ddba0375ac08914ce5fec89b33d78901d8105554b4fbd7a66f9e8e9b6e9f?size=512" alt="" class="border-4 border-white rounded-full size-24">
		</div>

		<div class="relative">
			<div class="absolute bottom-0 right-0 translate-x-[70%] bg-green rounded-full px-3 py-2 font-bold text-sm text-navy">Aaron</div>
			<img height="88" width="88" loading="lazy" src="https://1.gravatar.com/avatar/25e592ada8d06f4018d32c81a8eb5fb3d5595344fe122a91564bebf867a630c1?size=512" alt="" class="border-4 border-white rounded-full size-24 -translate-x-4">
		</div>
	</div>

	<h2 class="h1 text-balance text-center dark:text-white">Who is Cakewalk?</h2>
	<h3 class="h3 highlighted text-center dark:text-white mt-3">
		<p>Experts with <em>30+ years</em> of experience.</p>

	</h3>

	<div class="pt-24">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-20">

				<div class="flex items-start gap-6">
					<img class="rounded-full" alt="Kristina Orzech" src="/images/kristina-orzech.jpg" width="80" height="80" loading="lazy">
					<div>
						<p class="text-xl text-gray-600 dark:text-gray-200 line-clamp-4">I’ve partnered with Aaron and Matt as a digital project manager for several years and they have always been wonderful to work with. They each bring a well-rounded set of skills in web design and development to the table, making them able to understand and articulate client needs quickly and efficiently. Their willingness to jump into a project without hesitation, ask questions, and keep a positive outlook during the process is unmatchable when it comes to managing these sometimes complex digital projects. I would definitely recommend bringing your next project to them for discussion.</p>
						<p class="mt-2 dark:text-white">
							<span class="text-lg font-bold">Kristina Orzech</span>,
							<span class="text-gray-500 dark:text-gray-400 text-base">Digital Marketing Project Manager</span>
						</p>
					</div>
				</div>

				<div class="flex items-start gap-6">
					<img class="rounded-full" alt="Ann Blessman" src="/images/ann-blessman.jpg" width="80" height="80" loading="lazy">
					<div>
						<p class="text-xl text-gray-600 dark:text-gray-200 line-clamp-4">I’ve partnered with Aaron and Matt as a digital project manager for several years and they have always been wonderful to work with. They each bring a well-rounded set of skills in web design and development to the table, making them able to understand and articulate client needs quickly and efficiently. Their willingness to jump into a project without hesitation, ask questions, and keep a positive outlook during the process is unmatchable when it comes to managing these sometimes complex digital projects. I would definitely recommend bringing your next project to them for discussion.</p>
						<p class="mt-2 dark:text-white">
							<span class="text-lg font-bold">Ann Blessman</span>,
							<span class="text-gray-500 dark:text-gray-400 text-base">Producer, Product</span>
						</p>
					</div>
				</div>

				<div class="flex items-start gap-6">
					<img class="rounded-full" alt="Adam Wathan" src="/images/adam-wathan.jpg" width="80" height="80" loading="lazy">
					<div>
						<p class="text-xl text-gray-600 dark:text-gray-200 line-clamp-4">No idea who these people are. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur sequi quod magni dolor, dolorem similique incidunt! Nulla velit voluptatem deleniti consequuntur ipsa, sint ducimus quod, doloribus qui amet veniam!</p>
						<p class="mt-2 dark:text-white">
							<span class="text-lg font-bold">Adam Wathan</span>,
							<span class="text-gray-500 dark:text-gray-400 text-base">Tailwind Man</span>
						</p>
					</div>
				</div>

				<div class="flex items-start gap-6">
					<img class="rounded-full" alt="" src="/images/lisan-al-gaib.jpg" width="80" height="80" loading="lazy">
					<div>
						<p class="text-xl text-gray-600 dark:text-gray-200 line-clamp-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur sequi quod magni dolor, dolorem similique incidunt! Nulla velit voluptatem deleniti consequuntur ipsa, sint ducimus quod, doloribus qui amet veniam!</p>
						<p class="mt-2 dark:text-white">
							<span class="text-lg font-bold">Lisan Al Gaib</span>,
							<span class="text-gray-500 dark:text-gray-400 text-base">Fremen Messiah</span>
						</p>
					</div>
				</div>

		</div>
	</div>


	<div role="presentation" class="mb-16 lg:mb-20"></div>


</section>
