@import "aos/dist/aos.css";
@import 'tailwindcss' source('../../src');
@import './base.css' layer(base);
@import './components.css' layer(components);
@import './typography.css';

@plugin '@tailwindcss/forms';

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@theme {
  --font-anton: 'Anton', sans-serif;
  --color-green: #52FFB8;
  --color-navy: #232743;
  --color-dark-navy: #191b30;
  --color-black-navy: #0f101e;
}
