@import "aos/dist/aos.css";
@import 'tailwindcss' source('../../src');
@import './base.css' layer(base);
@import './typography.css' layer(base);
@import './components.css' layer(components);
@import './utilities.css' layer(utilities);

@plugin '@tailwindcss/forms';

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility h1 {
  @apply font-anton text-4xl md:text-5xl lg:text-6xl;
}

@utility h2 {
  @apply font-anton text-3xl md:text-4xl lg:text-5xl;
}

@utility h3 {
  @apply font-anton text-2xl md:text-3xl lg:text-4xl;
}

@utility h4 {
  @apply font-anton text-lg md:text-xl lg:text-2xl;
}

@utility h5 {
  @apply font-anton md:text-lg lg:text-xl;
}

@utility h6 {
  @apply font-anton lg:text-lg;
}

@theme {
  --font-anton: 'Anton', sans-serif;
  --color-green: #52FFB8;
  --color-navy: #232743;
  --color-dark-navy: #191b30;
  --color-black-navy: #0f101e;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
