---
title: Pricing
description: We offer extremely simple day-based pricing so that our cost is clear and upfront.
---

{% extends "_includes/layout.twig" %}

{% block body %}
  <section class="container-md dark:text-white spacer">
    <div class="max-w-screen-sm">
      <h1 class="h1">We keep our pricing clean and <em>simple</em>.</h1>
    </div>

    <div class="rich-text max-w-screen-md mt-20">
      <h3>What's our rate?</h3>
      <p>
        Our day rate for web work is <strong>$400/day</strong> and we offer half-day increments for smaller requests.
      </p>

      <h3>How long will your project take?</h3>
      <p>
        Well&hellip;that almost always is entirely <strong>up to you</strong>! Every project is unique and has different requirements and functionality.
      </p>
      <p>
        Because of this, we simplify our quotes into line-itemized day-based quotes by feature.
      </p>
      <p>
        This gives both parties a great understanding of the rough timeline a feature/website will take,
        and if those requirements or that feature changes, that's totally fine! We will just provide an
        updated day count to implement those changes for you.
      </p>

      <h3>But seriously, can you give me a ballpark?</h3>
      <p>
        Absolutely! Here's a non-binding list of rough estimates for the types of websites we build on the regular.
      </p>
      <ul>
        <li>CMS Build: <strong>20 days</strong></li>
        <li>Static Website: <strong>10 days</strong></li>
        <li>Design + CMS Build: <strong>30 days</strong></li>
        <li>Design + CMS Build + Custom Search Integration: <strong>35 days</strong></li>
      </ul>
    </div>
  </section>

  {% include "_includes/bottomCta.twig" %}
{% endblock %}
