---
title: Why Statamic?
description: The description for the Why Statamic page will go here.
---

{% extends "_includes/layout.twig" %}

{% block body %}
  <section class="container-md dark:text-white spacer">
    <div class="max-w-screen-sm">
      <h1 class="h1">Why do we choose <em>Statamic</em> as a CMS?</h1>
    </div>

    <div class="rich-text max-w-screen-md mt-20">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ab debitis impedit deleniti possimus aut nemo recusandae <strong>commodi excepturi</strong>, alias in voluptatum laudantium porro nihil quas aliquid illum qui est.</p>
      <p>Dolorem sequi ipsum temporibus labore nam consequatur odit minus eligendi placeat commodi! Recusandae, officiis laudantium laboriosam numquam suscipit quaerat id maxime at sed aliquid quae cum in animi dolorem voluptatum.</p>
      <p>Ipsa tempore laboriosam doloremque ducimus ad. Assumenda earum quasi non voluptatibus inventore ipsa tenetur possimus ducimus incidunt iusto libero quis facere, rem commodi maiores porro perferendis doloribus quas ipsam vitae.</p>
      <p>Fugiat expedita facilis deleniti provident aut ea praesentium sunt, quo numquam dolorum minus nostrum, tenetur enim ipsam modi adipisci saepe ab laudantium fuga, voluptates aperiam voluptatum. Eum quam blanditiis tempore!</p>

      <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
      <p>Ipsa tempore laboriosam doloremque ducimus ad. Assumenda earum quasi non voluptatibus inventore ipsa tenetur possimus ducimus incidunt iusto libero quis facere, rem commodi maiores porro perferendis doloribus quas ipsam vitae.</p>
      <p>Fugiat expedita facilis deleniti provident aut ea praesentium sunt, quo numquam dolorum minus nostrum, tenetur enim ipsam modi adipisci saepe ab laudantium fuga, voluptates aperiam voluptatum. Eum quam blanditiis tempore!</p>
    </div>
  </section>
{% endblock %}
